In [ ]:
import numpy as np
import pandas as pd

In [ ]:
books_df = pd.read_csv("books.csv")

In [ ]:
books_df.columns

In [ ]:
books_df.describe()

In [ ]:
books_df.sample(10)

## Q1: How many rows and columns are there in books.csv dataset?

In [ ]:
books_df.shape

In [ ]:
print("The \'books.csv\' dataset contains {} rows and {} columns.".format(books_df.shape[0],books_df.shape[1]))

## Q2: How many books do not have an original title?

In [ ]:
books_df.original_title

In [ ]:
books_df.original_title.isnull().sum()

In [ ]:
books_without_title = books_df.original_title.isnull().sum()

In [ ]:
print("{} books do not have original title.".format(books_without_title))

## Q3: How many unique books are present in the dataset ? Evaluate based on the 'book_id' after removing null values in the original_title column.

In [ ]:
unique_books = books_df.dropna(subset="original_title").book_id.nunique()

In [ ]:
print("{} unique books are present in the dataset.".format(unique_books))

## Q4: What is the average rating of all the books in the dataset based on ‘average_rating’?

In [ ]:
books_df.average_rating.mean()

In [ ]:
avg_rating = books_df.average_rating.mean()

In [ ]:
print("{:.2f} is the average rating of all the books in the dataset.".format(avg_rating))

## Q5: Find the number of books published in the year ‘2000’ based on the ‘original_publication_year’

In [ ]:
books_df[books_df.original_publication_year==2000].original_publication_year.count()

In [ ]:
no_of_books = books_df[books_df.original_publication_year==2000].original_publication_year.count()

In [ ]:
print("{} books were published int the year 2000.".format(no_of_books))

## Q6: Which book (title) has the maximum number of ratings based on ‘work_ratings_count’

In [ ]:
book_title = books_df[books_df.work_ratings_count == books_df.work_ratings_count.max()].title

In [ ]:
print(book_title)

## Q7: Bucket the average_rating of books into 11 buckets [0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0] with 0.5 decimal rounding (eg: average_rating 3.0 to 3.49 will fall in bucket 3.0). Plot bar graph to show total number of books in each rating bucket.

In [ ]:
plotvalues = books_df.average_rating.apply(lambda x: np.round(x*2)/2)

In [ ]:
plotvalues.value_counts().plot(kind="bar",color="blue", title = "Number of books vs Average rating of books", xlabel="average_rating of books", ylabel="Number of books", legend=True, figsize=(12,6));